@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: #E1FA00;
  --color-primary-light: #EEFF55;
  --color-primary-dark: #CBE200;
  --color-accent: #E0DC01;
  --shadow-glass: inset 0px 2.3px 0px 2.3px rgba(255, 255, 255, 0.1), 0px 18.37px 73.46px 0px rgba(0, 0, 0, 0.37);
  --font-sans: var(--font-poppins);
  --font-mono: var(--font-geist-mono);
  --font-pragati: var(--font-pragati);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
}

@layer components {
  .title-hero {
    @apply text-[48px] font-pragati leading-[1.1] tracking-tight md:text-[70px];
  }

  .subtitle-hero {
    @apply text-[20px] text-[#838383] font-medium;
  }

  .highlight-primary {
    @apply text-primary font-bold;
  }

  @variant md {
    .title-hero {
      @apply text-[70px];
    }
  }
}